<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.catnip.home" >

    <application>
        <activity
            android:theme="@style/MyFlix.NoActionBar"
            android:name=".presentation.ui.home.HomeActivity"
            android:exported="false" />
    </application>

</manifest>